name: Main
on: pull_request

env:
    MY_ENV_VAR: 321

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
        
        - uses: actions/checkout@v2
        
        - name: fetch master
          run: git fetch origin

        - name: First step 
          run: |
            files=$(git diff origin/master --name-only -- '*.php')
#            [ -n "$files" ] && echo $files
            
