name: Main
on: push

jobs:
    tests:
        runs-on: ubuntu-latest
#        container: 
#            image: alpine:latest
#            volumes:
#                - ${{ github.workspace }}:/var/www

        steps:
        
        - uses: actions/checkout@v2

        - name: Show files
          run: |
            free -m
            cat /proc/cpuinfo
            df -h

            


