name: Main
on: push
env:
    MY_ENV_VAR: 321

jobs:
    tests:
        runs-on: ubuntu-latest
        container: php:7.2.30 

        steps:
        
        - uses: actions/checkout@v2

        - name: First step 
          shell: bash
          run: |
            echo $SHELL
            env
            export MYVAR=10
            MY_ENV_VAR=321
            echo "12312" > my_file

        - name: Second step
          run: |
            env
            cat my_file
            


