name: Main
on: push

jobs:
    tests:
        runs-on: ubuntu-latest
        container: 
            image: alpine:latest
            volumes:
                - $PWD:/var/www

        steps:
        
        - uses: actions/checkout@v2
          with:
            path: ext

        - name: Show files
          run: ls -la /var/www
            


